# Flutter & Android Build Artifacts (ignore cache)
**/build/
**/.dart_tool/
**/.flutter-plugins*
.packages
.pub-cache/
.pub/

# Android Specific
**/android/.gradle/
**/android/app/build/
**/android/local.properties
*.dex
*.class

# iOS ephemeral
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/ephemeral/
**/ios/DerivedData/

# IDE
.idea/
*.iml
.vscode/

# System
.DS_Store
Thumbs.db

# Allow compiled release APKs inside the apks folder
!apks/*.apk
